@import 'bootstrap';

@import 'author-card';
@import 'authors-list';
@import 'book-form';
@import 'books-list';
@import 'navbar';
@import 'scaffolds';
@import 'widgets/form-input-tags';
@import 'widgets/icons';
@import 'widgets/tag-container';

body {
  min-width: 900px;
}

.page-header {
  .root-link {
    cursor: pointer;
    text-transform: uppercase;
  }
}

body a {
  color: #000;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
  }
}

.page {
  padding-top: 56px;
}

.ratings-info {
  font-size: 10px;
  font-style: italic;

  .popularity-points {
    color: darkred;
  }
}

::placeholder {
  color: #aaa !important;
}
