@import 'bootstrap';

@import 'books';
@import 'scaffolds';

body {
  min-width: 900px;
}

.page-header {
  .root-link {
    cursor: pointer;
    text-transform: uppercase;
  }
}

body a {
  color: #000;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
  }
}

.page {
  padding-top: 56px;
}
