@import './palette';

.authors-list-page {
  .authors-list-controls {
    margin-top: 10px;
    text-align: center;

    .form-control {
      display: inline-block;
      width: 150px;
      margin-left: 10px;
    }
  }

  .authors-list {
    height: calc(100vh - 126px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .authors-list-item {
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px;
    min-height: 190px;
    margin: 10px 20px 0 0;
    vertical-align: top;

    &.selected {
      box-shadow: 0 0 10px $color-shadow inset;
    }

    &:not(.selected) {
      cursor: pointer;
    }

    .thumb {
      display: block;
      position: relative;
      float: left;
      height: 130px;
      width: 130px;
      border-radius: 3px;
    }
  }
}
