.author-card {
  padding-top: 15px;
}

.book-modal {
  .search-row {
    text-align: center;

    .icon-goodreads {
      border-radius: 13px;
      padding: 4px 13px;
    }

    .icon-wiki {
      border-radius: 13px;
      padding: 4px 7px;
    }
  }
}

.books-list {
  .list-year {
    .year-number {
      border-left: 2px solid;
      padding-top: 100px;

      .tick-sign {
        display: block;
        width: 10px;
        border-bottom: 2px solid;
        margin: -10px 0px 0px -16px;
      }
    }

    &.death-year {
      .year-number {
        padding-top: 5px;
        padding-bottom: 35px;
      }

      .death-icon {
        display: block;
        padding: 8px 0px;
        position: absolute;
        top: -2px;
        left: -8px;
        background-color: #fff;
      }

      .ellipsis-icon-bottom {
        position: absolute;
        left: -3px;
        bottom: 0px;
        background-color: #fff;
        padding: 10px 0;
        font-weight: 100;
        font-size: 10px;
      }
    }

    &.birth-year {
      .year-number {
        padding-top: 35px;
      }

      .birthday-icon {
        display: block;
        padding: 10px 0px;
        position: absolute;
        bottom: -10px;
        left: -7px;
        background-color: #fff;
      }

      .ellipsis-icon-top {
        position: absolute;
        left: -3px;
        top: 0px;
        background-color: #fff;
        padding: 10px 0;
        font-weight: 100;
        font-size: 10px;
      }
    }
  }

  .year-books {
    white-space: nowrap;
    overflow-x: auto;
  }

  .book-case {
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px;
    min-height: 250px;
    margin: 10px 20px 0 0;
    vertical-align: top;

    &.selected {
      box-shadow: 0px 0px 18px red inset;
      padding: 5px;
    }
  }

  .book-author {
    font-size: 10px;
    cursor: pointer;
  }

  .book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
    font-style: italic;
  }

  .book-cover {
    display: block;
    position: relative;
    height: 200px;
    width: 130px;
    border-radius: 3px;

    &:hover {
      .book-actions {
        display: block;
      }
    }
  }

  .book-actions {
    display: none;
    position: absolute;
    width: 110px;
    height: 52px;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px;
    white-space: normal;
    line-height: 33px;
    text-align: center;

    .icon-edit {
      margin-right: 3px;
      background-color: #fff;
      padding: 3px 3px;
      border-radius: 5px;
      opacity: 0.8;

      &:hover {
        opacity: 0.9;
      }
    }

    .icon-google {
      margin-right: 3px;
      padding: 3px 5px;
      border-radius: 5px;
      opacity: 0.8;

      &:hover {
        opacity: 0.9;
      }
    }

    .icon-goodreads {
      margin-right: 3px;
      padding: 3px 7px;
      border-radius: 5px;
      opacity: 0.8;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.book-modal-backdrop {
  &.show {
    opacity: 0.2;
  }
}

.book-form-goodreads-line {
  .search-goodreads-container {
    .icon-google {
      padding: 8px 10px;
      vertical-align: -webkit-baseline-middle;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ced4da;
      color: #ea4335;
    }

    .icon-relation {
      font-size: 18px;
      position: absolute;
      right: -5px;
      color: #ced4da;
      top: 6px;
    }
  }

  .link-goodreads-container {
    .icon-relation {
      font-size: 18px;
      position: absolute;
      left: -1px;
      color: #ced4da;
      top: 6px;
    }

    .icon-goodreads {
      padding: 8px 12px;
      border-radius: 10px;
      vertical-align: -webkit-baseline-middle;
    }
  }
}

.author-card {
  .author-image {
    width: 100%;
    height: 225px;
  }
}

.icon-google {
  opacity: 0.7;
  box-shadow: 2px 2px 4px #ced4da;
  color: #ea4335;
  background-color: #fff;

  &:hover {
    opacity: 1.0;
    color: #ea4335;
    background-color: #fff;
  }
}

.icon-goodreads {
  &, &:hover {
    color: #382110;
    background-color: #f4f2e9;
  }
}

.icon-wiki {
  background-color: #f8f9fa;
}
