.book-modal-backdrop {
  &.show {
    opacity: 0.2;
  }
}

.book-form {
  .book-form-goodreads-line {
    .search-goodreads-container {
      .icon-google {
        padding: 8px 10px;
        vertical-align: -webkit-baseline-middle;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #ced4da;
        color: #ea4335;
      }

      .icon-relation {
        font-size: 18px;
        position: absolute;
        right: -5px;
        color: #ced4da;
        top: 6px;
      }
    }

    .link-goodreads-container {
      .icon-relation {
        font-size: 18px;
        position: absolute;
        left: -1px;
        color: #ced4da;
        top: 6px;
      }

      .icon-goodreads {
        padding: 8px 12px;
        border-radius: 10px;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }

  .book-form-cover-file {
    input {
      padding: 4px 0;
    }
  }
}
