@import './palette';

.books-list-linear {
  height: calc(100vh - 56px - 10px);
  overflow-y: auto;
  position: relative;

  .books-list-row {
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 0 0 0 30px;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }

  .book-case {
    display: inline-block;
    margin: 10px 20px 0 0;
    min-height: 200px;
    padding: 5px;
    position: relative;
    vertical-align: top;
    width: 140px;

    .year {
      float: left;
      font-size: 12px;
      padding-left: 52px;
      text-align: left;
      width: 100%;
    }

    &.selected {
      box-shadow: 0 0 18px $color-selection-inner-shadow inset;
    }

    &:not(.selected) {
      cursor: pointer;
      opacity: 0.8;
    }

    &.selected-for-batch {
      border: 3px dotted rgba(255, 0, 0, 0.3);
      padding: 2px;
    }

    &.placeholder {
      background-color: #eee;
      opacity: 0.3;
      text-align: center;

      .placeholder-spinner {
        margin-top: 75px;
      }
    }
  }

  .book-cover {
    border-radius: 3px;
    display: block;
    float: left;
    height: 200px;
    position: relative;
    width: 130px;

    &:hover .book-overlay {
      display: block;
    }
  }

  .popularities-chart {
    opacity: 0.3;

    canvas {
      left: 80px;
      margin: auto;
      max-height: 188px;
      position: absolute;
      top: 20px;
      transform: translateX(20px);
    }
  }
}
