.books-list {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 56px - 10px);

  .books-list-shadow {
    position: absolute;
    height: 0;
    width: 0;
    box-shadow: 0 0 7px 7px white;
    z-index: 2;

    &.shadow-top {
      top: 0;
      width: 100%;
    }

    &.shadow-bottom {
      bottom: 0;
      width: 100%;
    }

    &.shadow-left {
      left: 0;
      height: 100%;
    }

    &.shadow-right {
      right: 0;
      height: 100%;
      width: 45px;
      background-color: #fff;
    }
  }

  .side-scroll {
    position: absolute;
    right: 0;
    top: 40px;
    height: calc(100% - 70px);
    width: 40px;
    z-index: 3;
  }

  .books-list-layer2 {
    position: relative;
    right: 50%;
    height: 100%;
    z-index: 1;

    .books-list-layer3 {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) translateX(50%);
    }
  }

  .list-year {
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 2px;
    padding: 0px 0 20px;
    min-width: 2000px;
    text-align: center;

    .year-number {
      position: absolute;
      right: 0;
      left: 0px;
      bottom: 0;
      margin: auto;
      text-align: center;
      font-size: 12px;
    }

    &.death-year {
      height: 40px;

      .death-icon {
        display: inline-block;
        padding: 8px 0px;
        margin-right: 4px;
        background-color: #fff;
      }
    }

    &.birth-year {
      height: 40px;

      .birthday-icon {
        display: inline-block;
        padding: 10px 0px;
        margin-right: 4px;
        background-color: #fff;
      }
    }
  }

  .year-books {
    white-space: nowrap;
    overflow: hidden;
  }

  .book-case {
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px;
    min-height: 200px;
    margin: 10px 20px 0 0;
    vertical-align: top;

    &:focus {
      background-color: green;
    }

    &.selected {
      box-shadow: 0px 0px 18px red inset;
      padding: 5px;
      width: 300px;
    }

    &.non-selected {
      cursor: pointer;
    }
  }

  .book-details {
    float: right;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 200px;
    white-space: normal;

    .book-tags {
      line-height: 12px;

      .tag-container {
        font-size: 10px;
        margin: 0;
        margin-right: 2px;
      }
    }

    .book-toolbar {
      display: block;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;

      &:nth-child(2) {
        bottom: 8px;
      }

      a, a:visited {
        padding: 4px 8px;
        font-size: 12px;
        color: rgb(102, 102, 102);
      }

      a.goodreads-button {
        background-color: rgb(244, 242, 233);
      }
    }
  }

  .book-author {
    font-size: 10px;
    cursor: pointer;
  }

  .book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
    font-style: italic;
  }

  .book-cover {
    display: block;
    position: relative;
    float: left;
    height: 200px;
    width: 130px;
    border-radius: 3px;

    &:hover {
      .book-overlay {
        display: block;
      }
    }
  }
}
