.author-card {
  padding-top: 15px;
}

.book-modal {
  .search-row {
    text-align: center;

    .icon-goodreads {
      border-radius: 13px;
      padding: 4px 13px;
    }

    .icon-wiki {
      border-radius: 13px;
      padding: 4px 7px;
    }
  }
}

.books-list {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 56px - 10px);

  .books-list-shadow {
    position: absolute;
    height: 0;
    width: 0;
    box-shadow: 0 0 7px 7px white;
    z-index: 2;

    &.shadow-top {
      top: 0;
      width: 100%;
    }

    &.shadow-bottom {
      bottom: 0;
      width: 100%;
    }

    &.shadow-left {
      left: 0;
      height: 100%;
    }

    &.shadow-right {
      right: 0;
      height: 100%;
    }
  }

  .books-list-layer2 {
    position: relative;
    right: 50%;
    height: 100%;
    z-index: 1;

    .books-list-layer3 {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) translateX(50%);
    }
  }

  .list-year {
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 2px;
    padding: 0px 0 20px;
    min-width: 2000px;
    text-align: center;

    .year-number {
      position: absolute;
      right: 0;
      left: 0px;
      bottom: 0;
      margin: auto;
      text-align: center;
      font-size: 12px;
    }

    &.death-year {
      height: 40px;

      .death-icon {
        display: inline-block;
        padding: 8px 0px;
        margin-right: 4px;
        background-color: #fff;
      }
    }

    &.birth-year {
      height: 40px;

      .birthday-icon {
        display: inline-block;
        padding: 10px 0px;
        margin-right: 4px;
        background-color: #fff;
      }
    }
  }

  .year-books {
    white-space: nowrap;
    overflow: hidden;
  }

  .book-case {
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px;
    min-height: 200px;
    margin: 10px 20px 0 0;
    vertical-align: top;

    &.selected {
      box-shadow: 0px 0px 18px red inset;
      padding: 5px;
      width: 300px;
    }
  }

  .book-details {
    float: right;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 200px;
    white-space: normal;

    .book-tags {
      line-height: 12px;

      .tag-container {
        font-size: 10px;
        margin: 0;
        margin-right: 2px;
      }
    }

    .book-actions {
      white-space: normal;
      line-height: 33px;
      text-align: center;
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;

      .icon-edit {
        margin-right: 3px;
        background-color: #fff;
        padding: 3px 3px;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 2px 2px 4px #ced4da;

        &:hover {
          opacity: 0.9;
        }
      }

      .icon-google {
        margin-right: 3px;
        padding: 3px 5px;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 2px 2px 4px #ced4da;

        &:hover {
          opacity: 0.9;
        }
      }

      .icon-goodreads {
        margin-right: 3px;
        padding: 3px 7px;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 2px 2px 4px #ced4da;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .book-author {
    font-size: 10px;
    cursor: pointer;
  }

  .book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
    font-style: italic;
  }

  .book-cover {
    display: block;
    position: relative;
    float: left;
    height: 200px;
    width: 130px;
    border-radius: 3px;

    &:hover {
      .book-overlay {
        display: block;
      }
    }
  }
}

.book-modal-backdrop {
  &.show {
    opacity: 0.2;
  }
}

.book-form-goodreads-line {
  .search-goodreads-container {
    .icon-google {
      padding: 8px 10px;
      vertical-align: -webkit-baseline-middle;
      border-radius: 10px;
      box-shadow: 2px 2px 4px #ced4da;
      color: #ea4335;
    }

    .icon-relation {
      font-size: 18px;
      position: absolute;
      right: -5px;
      color: #ced4da;
      top: 6px;
    }
  }

  .link-goodreads-container {
    .icon-relation {
      font-size: 18px;
      position: absolute;
      left: -1px;
      color: #ced4da;
      top: 6px;
    }

    .icon-goodreads {
      padding: 8px 12px;
      border-radius: 10px;
      vertical-align: -webkit-baseline-middle;
    }
  }
}

.author-card {
  .author-image {
    width: 100%;
    height: 225px;
  }
}

.icon-google {
  opacity: 0.7;
  box-shadow: 2px 2px 4px #ced4da;
  color: #ea4335;
  background-color: #fff;

  &:hover {
    opacity: 1.0;
    color: #ea4335;
    background-color: #fff;
  }
}

.icon-goodreads {
  &, &:hover {
    color: #382110;
    background-color: #f4f2e9;
  }
}

.icon-wiki {
  background-color: #f8f9fa;
}

.tag-container {
  margin-left: 5px;

  .tag-name {
    font-weight: 400;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .tag-remove-icon {
    margin-left: 3px;
    font-size: 10px;
    cursor: pointer;
  }
} 
