.navbar {
  .search-spinner {
    position: absolute;
    right: 18px;
    height: 20px;
    width: 20px;
    top: 18px;
  }

  .nav-search-form {
    padding: 0 10px 5px;
  }

  .nav-search-list {
    max-height: 200px;
    overflow-y: scroll;

    .dropdown-item {
      max-width: 400px;
      overflow-x: hidden;
    }
  }

  .books-nav .nav-search-list .dropdown-item .title {
    font-weight: 500;
  }
}
