@import './palette';

.sidebar-authors-index-controls-widget .pagination {
  float: right;
  margin: 0;

  .page-item .page-link {
    font-size: 12px;
    padding: 4px 9px;
  }

  .page-item.disabled .page-link {
    background-color: $color-icon-grey;
    color: white;
  }

  .page-item:not(.disabled) .page-link {
    color: $color-pagination-text;
  }
}

.sidebar-authors-index-controls-widget .list-sort-dropdown {
  float: left;
  width: 140px;

  button {
    font-size: 12px;
    padding: 3px 15px 2px;
    vertical-align: top;
    width: 100%;
  }

  .dropdown-menu {
    max-width: 100%;
    min-width: 100%;

    .dropdown-item {
      font-size: 12px;
    }
  }
}
