.sidebar-widget-batch-controls {
  .section-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .batch-list {
    max-height: 200px;
    overflow: auto;

    .list-group-item {
      font-size: 12px;
      padding: 5px 10px;

      .icon-remove {
        color: red;
        cursor: pointer;
      }
    }
  }
}
