.sidebar-book-card-widget {
  margin-bottom: 10px;

  .book-details {
    animation: appear .3s ease-out;
    float: right;
    height: 200px;
    overflow: hidden;
    position: relative;
    white-space: normal;
    width: 150px;
  }

  .book-author {
    cursor: pointer;
    font-size: 12px;
  }

  .year {
    font-size: 12px;
  }

  .book-title {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
  }

  .book-stats {
    line-height: 12px;
  }

  .book-cover {
    border-radius: 3px;
    cursor: zoom-in;
    display: block;
    float: left;
    height: 200px;
    position: relative;
    width: 130px;

    &:hover .book-overlay {
      display: block;
    }
  }

  .book-toolbar {
    bottom: 40px;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;

    &:nth-child(2) {
      bottom: 8px;
    }

    a,
    a:visited {
      color: rgb(102, 102, 102);
      font-size: 12px;
      padding: 4px 8px;
    }

    .goodreads-button {
      background-color: rgb(244, 242, 233);
    }
  }

  .book-tags {
    line-height: 12px;

    .tag-container {
      font-size: 10px;
      margin: 0;
      margin-right: 2px;
    }
  }
}
