@import './palette';

.page-sidebar {
  height: calc(100vh - 56px - 10px);
  overflow-y: auto;
  padding-top: 10px;
  position: relative;
}

.sidebar-card-widget {
  margin-bottom: 10px;
  position: relative;

  .widget-title {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .icon-close {
    color: $color-icon-grey;
    font-size: 18px;
    position: absolute;
    right: 14px;
    top: 14px;
  }
}
