.years-slider {
  height: 100%;

  .rs-slider {
    .slider-handle {
      border: 0;
      cursor: pointer;
      font-size: 12px;
      height: 0;
      text-align: right;
      width: 38px;

      &:focus, &:active {
        border: none;
      }
    }
  }
}
